# shellcheck shell=bash
if [[ -f .env ]]; then
  dotenv
fi 


# auth against Vault if configured
if has vault; then
  if [[ "$VAULT_ADDR" && "$VAULT_AUTH_GITHUB_TOKEN" ]]; then
    log_status "vault: are we already authenticated?"
    vault token lookup -format=json > /dev/null && vault token renew -format=json > /dev/null

    if [[ "$?" == "0" ]]; then
      log_status "vault: authenticated with existing token!"
    else
      log_status "vault: authenticate, since our token could not be refreshed"
      vault login -method=github -no-print
      log_status "vault: authenticated with new token!"
    fi
  fi
fi

function get_vault_kv {
  vault_path=$1
  vault_key=${2:-value}
  if [[ "$VAULT_ADDR" ]]; then
    VAULT_KV=$(curl -s -H "X-Vault-Token: $(cat ~/.vault-token )" -X GET $VAULT_ADDR/v1/${vault_path} | jq -r .data.${vault_key})
  fi
}

# vim: set et fenc=utf-8 ff=unix ft=sh sts=2 sw=2 ts=2 :
