source_up

# load any .env in this directory, but ignore if missing
if [[ -f .env ]]; then
  dotenv
fi

# load the .envrc files in any of the directories above this one


if get_vault_kv "secret/consul_htpasswd"; then
  echo "consul_htpasswd = \"${VAULT_KV}\"" > _consul_htpasswd.auto.tfvars
fi
if get_vault_kv "secret/consul" "http_auth"; then
  echo "consul_http_auth = \"${VAULT_KV}\"" > _consul_http_auth.auto.tfvars
fi
if get_vault_kv "secret/consul" "http_addr"; then
  echo "consul_http_addr = \"${VAULT_KV}\"" > _consul_http_addr.auto.tfvars
fi
# vim: set et fenc=utf-8 ff=unix ft=sh sts=2 sw=2 ts=2 :
