# shellcheck shell=bash

dotenv

# auth against Vault if configured
if has vault; then
  if [[ "$VAULT_ADDR" && "$VAULT_AUTH_GITHUB_TOKEN" ]]; then
    # are we already authenticated?
    TOKEN_LOOKUP=$(vault token-lookup -format=json 2>/dev/null)

    if [ "$?" -eq 0 ]; then
      # renew if possible
      TOKEN_RENEW=$(vault token-renew -format=json 2>/dev/null)
    else
      # authenticate
      vault login -method=github
    fi
  fi
fi

function get_vault_kv {
  vault_path=$1
  vault_key=${2:-value}
  if [[ "$VAULT_ADDR" ]]; then
    VAULT_KV=$(curl -s -H "X-Vault-Token: $(cat ~/.vault-token )" -X GET $VAULT_ADDR/v1/${vault_path} | jq -r .data.${vault_key})
  fi
}

# vim: set et fenc=utf-8 ff=unix ft=sh sts=2 sw=2 ts=2 :
