# direnv configuration - https://direnv.net/
# shellcheck shell=bash

dotenv
source_up

if get_vault_kv "secret/consul" "http_auth"; then
  echo "consul_http_auth = \"${VAULT_KV}\"" > _consul_http_auth.auto.tfvars
fi

# vim: set et fenc=utf-8 ff=unix ft=sh sts=2 sw=2 ts=2 :
